* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#title {
    font-size: 48px;
    text-align: center;
    margin: 30px;
}

.container ol {
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.album-box {
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.album-box:hover {
    background-color: rgba(0, 0, 0, 0.048);
    border: none;
    box-shadow: 3px 3px 10px 4px #88888893;
    cursor: pointer;
}

.forms-container {
    margin: 15px;
    width: 100vw;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 35px;
}

.add-album input, .update-album input, .delete-album input {
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 5px;
}

.add-album button, .update-album button, .delete-album button {
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

.add-album button:hover, .update-album button:hover, .delete-album button:hover {
    box-shadow: 1px 1px 6px 4px #88888827;
}